@import url(https://fonts.googleapis.com/css?family=Pacifico);

.navbar-size {
    width: 100%;
    margin: 0 auto;
    background: rgb(106,10,92);
    background: linear-gradient(90deg, rgba(106,10,92,0.8018557764902836) 45%, rgba(0,212,255,0.9587185215883228) 100%);
}
.user-image-size {
    height: 56px;
    margin: 4px auto;
}
.main-body {
    background-color: #cb91c2;
    color: rgb(254, 254, 254);
    height: 100%;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #591846;
    margin-top: 50px;
}
.card-desc-color {
    color: #b8b5b5;
}

.splitscreen {
    display: flex;
  }
  
  .splitscreen .left,
  .splitscreen .right {
    /* flex:auto */
  }